<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>首页</title>
        <link rel="stylesheet" href="./index.css" />
    </head>
    <body>
        <div class="top">
            <input type="text" placeholder="搜索店内商品" class="search" />
            <i class="search-icon"></i>
            <span class="cancel">取消</span>
        </div>
    </body>
</html>
