<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>首页</title>
        <link rel="stylesheet" href="./index.css" />
    </head>
    <body>
        <div class="top">
            <input type="text" placeholder="搜索店内商品" class="search" />
            <i class="search-icon"></i>
            <i class="person"></i>
        </div>
        <div class="info">
            <div class="merchant">
                <div>
                    <div class="name">海鲜商城大酒店</div>
                    <div class="announcement">
                        <i class="announcement-icon"></i>
                        <span class="announcement-info"
                            >这是店铺的简介或者公告优惠信息</span
                        >
                    </div>
                </div>
                <div>
                    <img
                        class="home-icon"
                        src="../../images/home-icon.png"
                        alt=""
                    />
                </div>
            </div>
        </div>
        <div class="content">
            <div class="left">
                <div class="left-item act-classify">
                    进店必买
                </div>
                <div class="left-item">
                    进店必买
                </div>
                <div class="left-item">
                    进店必买
                </div>
            </div>
            <div class="right">
                <div class="right-item">
                    <div class="commodity-image">
                        <img src="" alt="" />
                    </div>
                    <div class="commodity-info">
                        <div class="commodity-desc">
                            <div>鲜活河虾250G</div>
                            <div>营养河虾 鲜嫩脆甜</div>
                        </div>

                        <div class="commodity-price">
                            <div class="price">￥20.55</div>
                            <div class="price-type">供货价</div>
                        </div>
                    </div>
                </div>
                <div class="right-item">
                    <div class="commodity-image">
                        <img src="" alt="" />
                    </div>
                    <div class="commodity-info">
                        <div class="commodity-desc">
                            <div>鲜活河虾250G</div>
                            <div>营养河虾 鲜嫩脆甜</div>
                        </div>

                        <div class="commodity-price">
                            <div class="price">￥20.55</div>
                            <div class="price-type">供货价</div>
                        </div>
                    </div>
                </div>
                <div class="right-item">
                    <div class="commodity-image">
                        <img src="" alt="" />
                    </div>
                    <div class="commodity-info">
                        <div class="commodity-desc">
                            <div>鲜活河虾250G</div>
                            <div>营养河虾 鲜嫩脆甜</div>
                        </div>

                        <div class="commodity-price">
                            <div class="price">￥20.55</div>
                            <div class="price-type">供货价</div>
                        </div>
                    </div>
                </div>
                <div class="right-item">
                    <div class="commodity-image">
                        <img src="" alt="" />
                    </div>
                    <div class="commodity-info">
                        <div class="commodity-desc">
                            <div>鲜活河虾250G</div>
                            <div>营养河虾 鲜嫩脆甜</div>
                        </div>

                        <div class="commodity-price">
                            <div class="price">￥20.55</div>
                            <div class="price-type">供货价</div>
                        </div>
                    </div>
                </div>
                <div class="right-item">
                    <div class="commodity-image">
                        <img src="" alt="" />
                    </div>
                    <div class="commodity-info">
                        <div class="commodity-desc">
                            <div>鲜活河虾250G</div>
                            <div>营养河虾 鲜嫩脆甜</div>
                        </div>

                        <div class="commodity-price">
                            <div class="price">￥20.55</div>
                            <div class="price-type">供货价</div>
                        </div>
                    </div>
                </div>
                <div class="right-item">
                    <div class="commodity-image">
                        <img src="" alt="" />
                    </div>
                    <div class="commodity-info">
                        <div class="commodity-desc">
                            <div>鲜活河虾250G</div>
                            <div>营养河虾 鲜嫩脆甜</div>
                        </div>

                        <div class="commodity-price">
                            <div class="price">￥20.55</div>
                            <div class="price-type">供货价</div>
                        </div>
                    </div>
                </div>
                <div class="right-item">
                    <div class="commodity-image">
                        <img src="" alt="" />
                    </div>
                    <div class="commodity-info">
                        <div class="commodity-desc">
                            <div>鲜活河虾250G</div>
                            <div>营养河虾 鲜嫩脆甜</div>
                        </div>

                        <div class="commodity-price">
                            <div class="price">￥20.55</div>
                            <div class="price-type">供货价</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="./index.js"></script>
    </body>
</html>
