.contain {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.back {
    width: 50px;
    color: #000;
}
.back img {
    width: 8px;
}
.contain_inner {
    align-self: center;
    width: 210px;
    list-style: none;
    position: relative;
    height: 210px;
    overflow: hidden;
    padding: 0;
}
.contain_inner > .item {
    position: absolute;
    left: 0;
    top: 0;
}
.img-position {
    width: 50px;
    height: 20px;
    background: #555;
    opacity: 0.5;
    align-self: flex-end;
    border-radius: 10px;
    font-size: 15px;
    color: #fff;
    text-align: center;
}
.contain_inner > .item img {
    width: 100%;
    height: 100%;
}
.info {
    padding: 15px;
    border-bottom: 1px solid rgba(246, 246, 246, 1);
}
.info .price {
    color: #1f88ff;
    font-size: 18px;
    color: rgba(31, 136, 255, 1);
    margin-bottom: 10px;
}
.info .name {
    font-size: 15px;
    color: rgba(51, 51, 51, 1);
}
.info .subname {
    font-size: 12px;
    color: rgba(183, 193, 207, 1);
}
.about {
    padding: 15px;
}
.about span {
    font-size: 12px;
    color: rgba(183, 193, 207, 1);
}
.about .desc {
    background: rgba(249, 249, 249, 1);
    padding: 10px;
    font-size: 12px;
    color: rgba(128, 128, 128, 1);
}
.submit-btn {
    width: 340px;
    height: 40px;
    background: linear-gradient(
        180deg,
        rgba(2, 171, 255, 1) 0%,
        rgba(0, 134, 255, 1) 42%,
        rgba(0, 145, 229, 1) 100%
    );
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center .book-tip {
    width: 260px;
    height: 222px;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.center .book-tip .sure-btn {
    width: 124px;
    height: 37px;
    background: linear-gradient(
        0deg,
        rgba(0, 145, 229, 1) 0%,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 134, 255, 1) 0%,
        rgba(2, 171, 255, 1) 100%
    );
    border-radius: 37px;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    line-height: 37px;
}
.center .book-tip .sure-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.center .book-tip .sure-info img {
    width: 104px;
}
.center .book-tip .sure-info span {
    margin-top: 10px;
    font-size: 16px;
    color: rgba(102, 102, 102, 1);
}
.go-btn {
    color: #C1C4C9;
}
.bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.book-info {
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    background: rgba(255, 255, 255, 1);
}
.bottom-item {
    box-sizing: border-box;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.bottom-item:first-child {
    border-bottom: 1px solid rgba(246,246,246,1);;    
}
.bottom-item .address p:first-child {
    font-size: 15px;
    color: rgba(51, 51, 51, 1);
}
.bottom-item .address p:last-child {
    font-size: 12px;
    color: rgba(183, 193, 207, 1);
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}
